@font-face {
  font-family: "Open Sans";
  src: local(""), 
    url("/fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"),
    url("/fonts/OpenSans/OpenSans-Regular.woff") format("woff"),
    url("/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local(""), 
    url("/fonts/OpenSans/OpenSans-Medium.woff2") format("woff2"),
    url("/fonts/OpenSans/OpenSans-Medium.woff") format("woff"),
    url("/fonts/OpenSans/OpenSans-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: local(""), 
      url("/fonts/OpenSans/OpenSans-SemiBold.woff2") format("woff2"),
      url("/fonts/OpenSans/OpenSans-SemiBold.woff") format("woff"),
      url("/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
  }

@font-face {
    font-family: "Open Sans";
    src: local(""), 
      url("/fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"),
      url("/fonts/OpenSans/OpenSans-Bold.woff") format("woff"),
      url("/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: "Playfair Display SC";
    src: local(""), 
      url("/fonts/PlayfairDisplaySC/PlayfairDisplaySC-Bold.woff2") format("woff2"),
      url("/fonts/PlayfairDisplaySC/PlayfairDisplaySC-Bold.woff") format("woff"),
      url("/fonts/PlayfairDisplaySC/PlayfairDisplaySC-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }