---

---

<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Routs</a></li>
        <li><a href="#">Articles</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contacts</a></li>
    </ul>
</nav>

<style>
    a {
        font-size: 16px;
        color: red;
    }
</style>